<div class="form-container">
    <div class="container">
        <div class="input-box">
            <label>Password</label>
            <input [(ngModel)]="user.password" placeholder="Password" type="password" />
        </div>

        <div class="input-box">
            <label>Confirm Password</label>
            <input [(ngModel)]="user.confirmPassword" placeholder="Password" type="password">
        </div>
    </div>
    <button type="button" (click)="onSubmit(user)" >Reset Password</button>
</div>